.button {
}
.button:focused {
    -fx-background-color: #000 !important;
    -fx-text-fill: #fff;
}

#1 {
    -fx-background-color: limegreen;
}
#2 {
    -fx-background-color: orangered;
}
#3 {
    -fx-background-color: dodgerblue;
}
#4 {
    -fx-background-color: deeppink;
}
#5 {
    -fx-background-color: orange;
}
#6 {
    -fx-background-color: coral;
}
